.contenedorGeneral{
width:100%;
margin: auto;
margin-top: 10px;
height: auto;
border: 1px solid red;

}

 .card{
    border-radius: 25px;
}
 input{
    border-radius: 10px;
}
 
.medidas{
width: 60%;
 
}

/*MODULOS CON BOOTSTRAP*/
.contenedorModulos{
    height: 160px;
    border-bottom: 2px solid rgb(128, 128, 128); 

}
.tituloGeneralModulos{
  
    height: 40px;
}
.sizeRow{
    height: 100%;
}
.coulumnSizeModulo{
            
    height: 50%;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgb(161, 161, 161);
    margin-left: 10px;
    margin-top: 1%;
}
.coulumnSizeModulo h1{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.coulumnSizeModulo h2{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    
}
/*ELEMENTOS QR*/
 
.divisionColumna{
   
}
.divisionColumna img{
    width: 70px;
    margin-left: -17%;
    margin-top: 20%;

}
.tituloHospital{
    font-size: 12px;
    

}
.subtituloHospital{
    font-size: 10px;

}
.textoHospital{
    margin-top: 1px;
    font-size: 7px;
   
    margin-top: 30px;

}   
/*----LISTA MEDIOCOS BOOTSTRAP*/
.sizeContenedorListaMedicos{
    
    height:auto;
    margin-top: 15px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 17px;
     
 
}
.sizePlantillaMedicos{
    height:70px;
    margin-top: 15px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 17px;
 

}
.row-100{
    height: 100%;
    
}
.colSinRegistros{
  
    height: 60%;
    margin: auto;
     
}
.contTituloListMed{
  
}
.contTituloListMed h1{
    font-size: 15px;
    color: #42ADB9;
    margin-left: 5%;
}
.contTituloListMed h2{
    font-size: 14px;
    margin-left: 5%;
}

.colSinRegistros img{
width:50%;
 
margin-left: 27%;
}
.rowParrafo{
   
    height: 20px;
    text-align: center;
    font-size: 14px;

}
.rowBotAddMed{
 
    height: 50px;

}
.botAddMed{
    margin-left: 25%;
    width: 70%;
    height: 70%;
    font-size: 12px;
    border: none;
    border: 1px solid #f03838;
    border-radius: 14px;
    background-color: white;
    color: rgb(255, 61, 61);
    margin-left: 15%;

}
.botAddMed:hover{
    background-color: rgb(255, 212, 212);
}

/*elementos contenedor formulario*/


.containerFormulario{
    /*border: 1px solid red;*/
    height: auto;/*60px*/
   
    border: 2px solid rgb(128, 128, 128);
    border-radius: 17px;
}
.title-Img{
    /*border: 1px solid red;*/
    font-size: 19px;
}
.title-Img img{
    width: 25px;
    margin-left:75%;
}
.rowTituloPlantillaM{
    /*border: 1px solid red;*/
   
}
 
.contenedorListaMedicos{
    width: 100%;
    height:500px;
    margin-top: 15px;
    border-radius: 14px;
    border: 2px solid rgb(161, 161, 161);
}
.contenedorTituloListaMedicos{
    width: 95%;
    height: 15%;
    margin: auto;
    display: none;
    /*border: 1px solid red;*/
    margin-top: 10px;

}
.contenedorTituloListaMedicos h1{
    font-size: 17px;
    color: #42ADB9;
}
.contenedorTituloListaMedicos h2{
    font-size: 14px;
    margin-left: 2%;
    margin-top: 2%;
}


.contenedorSinRegistros{
    width: 40%;
    height: 75%;
    margin: auto;
    margin-top: 4%;
   /* border: 2px solid rgb(161, 161, 161);*/
}
.contenedorLogo{
    width: 90%;
    height: 50%;
   /* border: 2px solid rgb(161, 161, 161);*/
    margin:auto;
    margin-top: 10px;

}
.contenedorLogo img{
    width: 50%;
    margin-left: 25%;
    /*border: 1px solid red;*/
    margin-top: 11%;
    
  
     
}

.contenedorTexto{
    width: 100%;
    height: 20%;
   /*border: 2px solid rgb(161, 161, 161);*/
    margin:auto;
    margin-top:10px;
}
.contenedorTexto p{
    font-size: 11px;
    text-align: center;

}
.contenedorTexto p:nth-child(2){
margin-top: -15px;
}
.botonAgregarMedicos{
    width: 70%;
    height: 10%;
    margin: auto;
    margin-top: 10px;
    border: 2px solid rgb(226, 74, 74);
    border-radius: 15px;
    cursor: pointer;
}
.botonAgregarMedicos:hover{
    background-color: rgb(255, 235, 235);
}
.botonAgregarMedicos h1{
    font-size: 11px;
    text-align: center;    
    margin-top: 7px;
    color: rgb(226, 74, 74);
}
.contenedorRegistroPlantilla{
    width: 100%;
    height: 50px;
    border: 2px solid rgb(161, 161, 161);
    margin: auto;
    margin-top: 10px;
    border-radius: 14px;
 
}
.contenedorRegistroPlantilla h1{
font-size: 15px;
margin-left: 10px;
margin-top: 13px;
float: left;
}
.contenedorRegistroPlantilla img{
    width: 25px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.espacio{
    width: 100%;
    height: 70px;
     
}

.contenedorDataTable{
    width: 95%;
    height: 82%;
    
    margin: auto;
    /*border: 1px solid red;*/
    overflow: auto;
}

 
.sizeContQr{
    width: 250px;
     height: 110px;
     border: 1px solid black;
     border-radius: 10px;
     margin-top: -15px;
     display: none;
  }

@media only screen and (max-width: 800px){
    .rowParrafo{
   
        height: 20px;
        text-align: center;
        font-size: 9px;
    
    }
    
    .botAddMed{
      
        width: 100%;
        margin-left: 0%;
        font-size: 9px;
    
    }
    .title-Img img{
        width: 25px;
        margin-left:45%;
    }
}
@media only screen and (max-width: 500px){
.coulumnSizeModulo{
    margin-left: 1%;
}
}
/*
@media only screen and (max-width: 1100px) {
    .moduloTitulo h1{
        font-size: 14px;
    }

    .moduloContador h1{
        font-size: 12px;
    }


    .contenedorInfo h1{
        font-size: 10px;
       
        }
    .contenedorInfo h2{
        font-size: 9px;
          
    }
    .contenedorInfo p{
        font-size: 7px;
        
    }
 
    .contenedorQr img{
        width: 100%;
        height: 50%;
        margin-top: 45%;
       
    }
     
 
.contenedorSinRegistros{
    width: 70%;
    height: 70%;
   ;
     
}
.contenedorLogo{
    width: 100%;
    height: 60%;
    
    
 
}
.contenedorLogo img{
 
    margin-top:-.2%;
}
 
.botonAgregarMedicos{
    margin-top: -6%;
   
}

}
@media only screen and (max-width: 850px) {

    .moduloTitulo h1{
        font-size: 12px;
    }
    .moduloContador{
       
        height: 25%;
        margin-top: -4%;
    }
    .moduloContador h1{
        font-size: 10px;
    }
    .contenedorSinRegistros{
        width: 80%;
        height: 60%;
       
    }
    .contenedorLogo{
        width: 100%;
        height: 60%;
         
        
     
    }
    .contenedorLogo img{
  
        margin-top:-.2%;
    }
     
    .botonAgregarMedicos{
        margin-top: -4%;
       
    }
    
}
@media only screen and (max-width: 550px) {
  
    .contenedorModulos{
        width: 100%;
       
        position:sticky;
    }
    .modulo{
        width: 49%;
        height: 40%;
        float: left;
        margin-top: -.1%;
        margin-bottom: 2%;  
    }
    .moduloTitulo h1{
        font-size: 15px;
         
    }
    
    .contenedorInfo h1{
    font-size: 6px;
     
    }
    .contenedorInfo h2{
        font-size: 10px;
   
    }
    .contenedorInfo p{
        font-size: 5px;
       
    }
     


    .moduloContador{
        margin-top: -5%;
    }
    .moduloContador h1{
      
        font-size: 13px;
    
    }
 
 
    
.contenedorSinRegistros{
    width: 100%;
    height: 70%;
     
}
.contenedorLogo{
    width: 100%;
 
}
.contenedorLogo img{
    margin-top: 7%;
}
 
.botonAgregarMedicos{
    width: 60%;
    height: 9%;
    margin: auto;
   
}
 
 
}
*/